@layer base {
  @font-face {
    font-family: roboto-serif-light;
    font-weight: 300;
    src: url('../public/fonts/roboto-serif-light.ttf') format('truetype');
  }

  @font-face {
    font-family: roboto-serif-regular;
    font-weight: 400;
    src: url('../public/fonts/roboto-serif-regular.ttf') format('truetype');
  }

  @font-face {
    font-family: roboto-serif-medium;
    font-weight: 500;
    src: url('../public/fonts/roboto-serif-medium.ttf') format('truetype');
  }

  @font-face {
    font-family: roboto-serif-italic;
    font-style: 'italic';
    src: url('../public/fonts/roboto-serif-italic.ttf') format('truetype');
  }

  @font-face {
    font-family: oswald-extra-light;
    font-weight: 200;
    src: url('../public/fonts/oswald-extra-light.ttf') format('truetype');
  }

  @font-face {
    font-family: oswald-medium;
    font-weight: 500;
    src: url('../public/fonts/oswald-medium.ttf') format('truetype');
  }

  @font-face {
    font-family: lato-light;
    font-weight: 300;
    src: url('../public/fonts/lato-light.ttf') format('truetype');
  }

  @font-face {
    font-family: noto-sans-tc-regular;
    font-weight: 400;
    src: url('../public/fonts/noto-sans-tc-regular.otf') format('opentype');
  }
}
